/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .mdl-textfield__input{
    border: none !important;
    border-bottom: 1px solid #dedede !important;
    box-shadow: none !important;
    padding-bottom: 5px !important;
    width: 95%;
}

.product-item{
    padding: 0px;
}
.product-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.product-card-square > .mdl-card__title {
    color: #fff;
    background: url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.pagination{
    margin-top:10px;
    margin-bottom: 10px;
}

.mdl-button--icon.page-number{
    border-radius: 50%;
    font-size: 15px;
    padding: 3px;
}

.active{
    color: #FFF;
    background-color: #00b9d8;
}

.mdl-button-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;     
}

.mdl-button-group .button{
    background-color: #eeeeee;
    display: inline-block;
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
}
  
.mdl-button-group a:hover {
  color: green;
}   

.mdl-button-group a:active{
    background-color: green;
    color: white;
  }


/**
 * Copyright 2015 Google Inc. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
.whtp-avatar {
    width: 48px;
    height: 48px;
    border-radius: 24px;
}
.whtp-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
    margin-bottom: 16px;
}
.whtp-drawer {
    border: none;
}
/* iOS Safari specific workaround */
.whtp-drawer .mdl-menu__container {
    z-index: -1;
}
.whtp-drawer .whtp-navigation {
    z-index: -2;
}
/* END iOS Safari specific workaround */
.whtp-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.whtp-drawer-header {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 16px;
    height: 151px;
}
.whtp-avatar-dropdown {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

.whtp-navigation {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
        flex-grow: 1;
}
.whtp-layout .whtp-navigation .mdl-navigation__link {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}
.whtp-layout .whtp-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}
.whtp-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.whtp-content {
    max-width: 1080px;
}

.whtp-charts {
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
}
.whtp-chart:nth-child(1) {
color: #ACEC00;
}
.whtp-chart:nth-child(2) {
color: #00BBD6;
}
.whtp-chart:nth-child(3) {
color: #BA65C9;
}
.whtp-chart:nth-child(4) {
color: #EF3C79;
}
.whtp-graphs {
padding: 16px 32px;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-direction: column;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-align-items: stretch;
    -ms-flex-align: stretch;
        align-items: stretch;
}
/* TODO: Find a proper solution to have the graphs
* not float around outside their container in IE10/11.
* Using a browserhacks.com solution for now.
*/
_:-ms-input-placeholder, :root .whtp-graphs {
min-height: 664px;
}
_:-ms-input-placeholder, :root .whtp-graph {
max-height: 300px;
}
/* TODO end */
.whtp-graph:nth-child(1) {
color: #00b9d8;
}
.whtp-graph:nth-child(2) {
color: #d9006e;
}

.whtp-cards {
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
}
.whtp-cards .whtp-separator {
	height: 32px;
}
.whtp-cards .mdl-card__title.mdl-card__title {
color: white;
font-size: 18px;
font-weight: 400;
}
.whtp-cards ul {
padding: 0;
}
.whtp-cards h3 {
font-size: 1em;
}
/**.whtp-updates .mdl-card__title {
min-height: 200px;
background-image: url('images/dog.png');
background-position: 90% 100%;
background-repeat: no-repeat;
}**/
.whtp-cards .mdl-card__actions a {
color: #00BCD4;
text-decoration: none;
}

.whtp-options h3 {
margin: 0;
}
.whtp-options .mdl-checkbox__box-outline {
border-color: rgba(255, 255, 255, 0.89);
}
.whtp-options ul {
margin: 0;
list-style-type: none;
}
.whtp-options li {
margin: 4px 0;
}
.whtp-options .material-icons {
color: rgba(255, 255, 255, 0.89);
}
.whtp-options .mdl-card__actions {
height: 64px;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
box-sizing: border-box;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
}

.mdl-data-table,{
	width: 100% !important; 
}

.column-title {
    font-size: 20px;
    line-height: 18px;
}


/**
* help and support links
*/
.help{width: 98%; float: left;}
.help li{
	display: inline;
	list-style-type: none;
	padding: 5px;
}

.help ul.author{
	width: 95%;
	display: block;
	float: right;
}
.help li form{
	width: 80%;
	position: relative;
	display: block; 
	float: right;
}
#signup input{
	padding: 10px;
	display: block;
	width: 90%;
}
.ninety{
	width: 90%;
	display: block;
	float: left;	
}
/*
* Messages success-smg
*/
.success-msg{
	position: relative;
	display:block;
	background: #090;
	color: #FFF;
	font-weight: bold;
	padding: 5px;
}
.error-msg{
	position: relative;
	background: #F00;
	color: #FFF;
	display:block;
	font-weight: bold;
	padding: 5px;
}

/**
* Responsive table
* Source: https://github.com/google/material-design-lite/issues/5113
*/
.table-responsive { min-height: .01%; overflow-x: auto; } @media screen and (max-width: 767px) { .table-responsive { width: 100%; margin-bottom: 15px; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; border: 1px solid #ddd; } .table-responsive>.table { margin-bottom: 0; } .table-responsive>.table>thead>tr>th, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tfoot>tr>td { white-space: nowrap; } .table-responsive>.table-bordered { border: 0; } .table-responsive>.table-bordered>thead>tr>th:first-child, .table-responsive>.table-bordered>tbody>tr>th:first-child, .table-responsive>.table-bordered>tfoot>tr>th:first-child, .table-responsive>.table-bordered>thead>tr>td:first-child, .table-responsive>.table-bordered>tbody>tr>td:first-child, .table-responsive>.table-bordered>tfoot>tr>td:first-child { border-left: 0; } .table-responsive>.table-bordered>thead>tr>th:last-child, .table-responsive>.table-bordered>tbody>tr>th:last-child, .table-responsive>.table-bordered>tfoot>tr>th:last-child, .table-responsive>.table-bordered>thead>tr>td:last-child, .table-responsive>.table-bordered>tbody>tr>td:last-child, .table-responsive>.table-bordered>tfoot>tr>td:last-child { border-right: 0; } .table-responsive>.table-bordered>tbody>tr:last-child>th, .table-responsive>.table-bordered>tfoot>tr:last-child>th, .table-responsive>.table-bordered>tbody>tr:last-child>td, .table-responsive>.table-bordered>tfoot>tr:last-child>td { border-bottom: 0; } }