.viewer{
	display: block;
	width: 100%;
	position: relative;
	float: left;
	
}
.viwer p, .viewer div{
	display: block;
	float: left;
	width: 100%;
	position: relative;
	padding: 8px;
}

.viewer #adddeny ul#denyip{
	width: 50%;
	display: block;
	float: left;
}
.viewer #adddeny ul#denyip li{
	display: inline;
}
.viewer #adddeny ul#denyip li input[type="submit"],
.viewer #adddeny ul#denyip li input[type="text"]{
	padding: 10px;
	width: 100%;
}
textarea{
	display: block;
	float: left;
	width: 100%;
	padding: 10px;
	position: relative;
}
.viewer h2{
	display: block;
	width: 98%;
	float: left;
	position: relative;
	border-bottom: #CCC thin 1px dotted;
	padding: 8px;
	background:#CCC;
	color: #FFF;
	text-transform:capitalize;
}
.viewer h4.not-found{
	background-color:#FF6633;
	padding: 10px;
	color: #FFF;
}
.viewer table{
	float: left;
	position: relative;
	font-size: 12px;
}
table tr td{
	border-bottom: 1px dotted; 
	border-bottom-color: #FFF;
}
table.hits tr{
	border-bottom: #E6E3E6 thin 1px dotted;
}
table.hits tr td h4{font-size: 14px; padding: 5px;}

table.hits tr .first-col-title,
table.hits tr .second-col-title,
table.hits tr .first-col,
table.hits tr .second-col{width: 28%;}
table.hits tr .action-col-title{width: 13%;}

/*table.hits tr .first-col{background-color:#CCC;}
table.hits tr .second-col{background-color: #9FF;}
table.hits tr .action-col{background-color:#666;}*/

table.hits tr td ul.author{
	width: 80%;
	display: block;
	float: right;
}
table.hits tr td form{
	width: 80%;
	display: block; float: right;
}
table.hits tr td form input{
	display: block;
	width: 100%;
}

 /* 
 *
 * IP stats table 
 *
 */
table.ip-table{
	width: 99%;
	padding: 0px;
	font-size: 12px;
}
table.ip-table tr td input[type="number"],
table.hits tr td input[type="number"]{
	padding: 4px;
	display: inline;
}
table.hits tr td.discount{
	padding: 5px;	
}
table.hits tr td.discount input[type="submit"]{
	display: inline;
}
table.ip-table tr td h4{font-size: 14px; padding: 5px;}
table.ip-table thead th{font-weight:bolder 500; font-size:16px;}
table.ip-table tr .ip-title{width: 15%;}
table.ip-table tr .ipv-title{width: 8%;}
table.ip-table tr .agent-title{width: 35%;}
table.ip-table tr .ftime-title{width: 13%;}
table.ip-table tr .ltime-title{width: 13%;}

table.ip-table tr .ip{width: 11%;}
table.ip-table tr .ipv{width: 8%;}
table.ip-table tr .agent{width: 35%;}
table.ip-table tr .ftime{width: 13%;}
table.ip-table tr .ltime{width: 13%;}

 /* 
 *
 * Denied IP table 
 *
 */
 table.denied-ip-table{
	padding: 0px;
	font-size: 12px;
}
.denied-ip-table tr td h4{font-size: 14px; padding: 5px;}
table.denied-ip-table tr td,
table.ip-table tr td,
table.hits tr td{border-bottom:1px solid #CDCDCD;}
.title-footer{
	background-color: #E5E5E5;
	color:#000;
	padding: 3px;	
}
/* help and support links */
.help{width: 98%; float: left;}
.help li{
	display: inline;
	list-style-type: none;
	padding: 5px;
}

.help ul.author{
	width: 95%;
	display: block;
	float: right;
}
.help li form{
	width: 80%;
	position: relative;
	display: block; 
	float: right;
}
#signup input{
	padding: 10px;
	display: block;
	width: 90%;
}
.ninety{
	width: 90%;
	display: block;
	float: left;	
}
/*
* Messages success-smg
*/
.success-msg{
	position: relative;
	display:block;
	background: #090;
	color: #FFF;
	font-weight: bold;
	padding: 5px;
}
.error-msg{
	position: relative;
	background: #F00;
	color: #FFF;
	display:block;
	font-weight: bold;
	padding: 5px;
}